<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="enableChroPathExtension" value="true"/>
		<add key="pathOfChroPathExtension" value="C:/Users/Saurabh Dhingra/AppData/Local/Google/Chrome/User Data/Default/Extensions/ljngjbnaijcbncmcnjfhigebomdlkcjo/6.1.4_0"/>
	</appSettings>
</configuration>