<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="browserType" value="chrome"/>
		<add key="currentWorkingDirectory" value="D:/Users/Saurabh Dhingra/source/repos/Learning Selenium/AmazonTests"/>
		<add key="baseUrl" value="www.amazon.in"/>
		<add key="pageLoadTimeout" value="90"/>
		<add key="elementDetectionTimeout" value="20"/>
	</appSettings>
</configuration>